@model List<FirstWebApp.Models.User>

@{
    ViewData["Title"] = "User Profiles";
    Layout = "_DashboardLayout";
}

<div class="row">

    <div class="col-12 mb-4">
        <h3 class="fw-bold">User Profiles</h3>
        <p class="text-muted">All registered users in system</p>
    </div>

    @if (Model != null && Model.Any())
    {
        foreach (var user in Model)
        {
            <div class="col-md-4 col-lg-3 mb-4">

                <div class="card shadow-sm border-0 h-30">


                    <div class="card-body text-center">

                        <div class="mb-3">
                            <i class="fa fa-user-circle text-primary" style="font-size:70px;"></i>
                        </div>

                        <!-- Name -->
                        <h5 class="mb-1 fw-bold">
                            @user.Name
                        </h5>

                        <!-- Email -->
                        <p class="text-muted small mb-2">
                            @user.Email
                        </p>

                        <!-- Status -->
                        <span class="badge bg-success mb-3">
                            @user.Role
                        </span>

                        <!-- Buttons -->
                        <div class="d-grid gap-2">

                            <div class="d-grid gap-2">

                                <a asp-controller="Accounts"       asp-action="EditProfile"       asp-route-id="@user.Id"
                                       class="btn btn-primary btn-sm">

                                    Edit Profile

                                </a>

                            </div>

                            <a class="btn btn-outline-secondary btn-sm">
                                Delete User
                            </a>

                        </div>

                    </div>

                </div>

            </div>
        }
    }
    else
    {
        <div class="col-12">
            <div class="alert alert-warning">
                No users found in database.
            </div>
        </div>
    }

</div>